@import url("http://fonts.googleapis.com/css?family=Bitter:400,700,400italic");
/* line 8, ../scss/_helpers.scss */
.container:after, .bottom--container:after, .contact:after, .locatie:after, header:after, .aside:after, .news-tabs:after, .wrapper:after { content: ""; display: table; clear: both; }

/* line 17, ../scss/_helpers.scss */
.srt { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* line 36, ../scss/_helpers.scss */
.aside__sponsors, .aside__agenda { background-color: #82cfff; border: 1px solid #fcfdf2; padding: 15px; }

/* line 42, ../scss/_helpers.scss */
.tab-panels ul { margin: 0; padding: 0; list-style-type: none; }

/* line 48, ../scss/_helpers.scss */
.tab-panels ul li { display: inline-block; margin: 0; font-weight: 200; cursor: pointer; }

/* line 56, ../scss/_helpers.scss */
.bottom__section--downloads ul { padding: 0; }
/* line 58, ../scss/_helpers.scss */
.bottom__section--downloads ul li { list-style-type: none; border-bottom: 1px dashed #ddd; text-align: center; padding: 3%; }
/* line 63, ../scss/_helpers.scss */
.bottom__section--downloads ul li:last-child { border: 0; }
/* line 66, ../scss/_helpers.scss */
.bottom__section--downloads ul li:hover { background: rgba(57, 126, 170, 0.5); }
/* line 69, ../scss/_helpers.scss */
.bottom__section--downloads ul li a { text-decoration: none; color: #0b0b0b; }

/* line 80, ../scss/_helpers.scss */
.aside__sponsors img, .front img { max-width: 100%; height: auto; }

/* line 86, ../scss/_helpers.scss */
.btn-default a { position: relative; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }

/*********************** Helper classes *********************/
/* line 95, ../scss/_helpers.scss */
.clear { clear: both; }

/* line 99, ../scss/_helpers.scss */
.views-title { text-align: center; font-size: 3.2em; line-height: 1.5em; line-height: 0.75em; }

/* line 105, ../scss/_helpers.scss */
.maxHeight { height: 100% !important; }

/* line 109, ../scss/_helpers.scss */
.menuHeight { height: 19em; }

/* line 113, ../scss/_helpers.scss */
.hidden { display: none; }

/* line 117, ../scss/_helpers.scss */
.img-responsive { max-width: 100%; }

/* line 11, ../scss/_reset.scss */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

/* line 19, ../scss/_reset.scss */
body { margin: 0; }

/* line 29, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* line 48, ../scss/_reset.scss */
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

/* line 60, ../scss/_reset.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 69, ../scss/_reset.scss */
[hidden], template { display: none; }

/* line 78, ../scss/_reset.scss */
a { background: transparent; }

/* line 85, ../scss/_reset.scss */
a:active, a:hover { outline: 0; }

/* line 94, ../scss/_reset.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 101, ../scss/_reset.scss */
b, strong { font-weight: bold; }

/* line 109, ../scss/_reset.scss */
dfn { font-style: italic; }

/* line 117, ../scss/_reset.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 125, ../scss/_reset.scss */
mark { background: #ff0; color: #000; }

/* line 133, ../scss/_reset.scss */
small { font-size: 80%; }

/* line 140, ../scss/_reset.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 148, ../scss/_reset.scss */
sup { top: -0.5em; }

/* line 152, ../scss/_reset.scss */
sub { bottom: -0.25em; }

/* line 160, ../scss/_reset.scss */
img { border: 0; }

/* line 167, ../scss/_reset.scss */
svg:not(:root) { overflow: hidden; }

/* line 175, ../scss/_reset.scss */
figure { margin: 1em 40px; }

/* line 182, ../scss/_reset.scss */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/* line 191, ../scss/_reset.scss */
pre { overflow: auto; }

/* line 198, ../scss/_reset.scss */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* line 217, ../scss/_reset.scss */
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

/* line 230, ../scss/_reset.scss */
button { overflow: visible; }

/* line 240, ../scss/_reset.scss */
button, select { text-transform: none; }

/* line 252, ../scss/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

/* line 263, ../scss/_reset.scss */
button[disabled], html input[disabled] { cursor: default; }

/* line 271, ../scss/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 281, ../scss/_reset.scss */
input { line-height: normal; }

/* line 287, ../scss/_reset.scss */
* input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

/* line 303, ../scss/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/* line 313, ../scss/_reset.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 325, ../scss/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 333, ../scss/_reset.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 343, ../scss/_reset.scss */
legend { border: 0; padding: 0; }

/* line 351, ../scss/_reset.scss */
textarea { overflow: auto; }

/* line 359, ../scss/_reset.scss */
optgroup { font-weight: bold; }

/* line 367, ../scss/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 372, ../scss/_reset.scss */
td, th { padding: 0; }

/* line 5, ../scss/_base.scss */
* { -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 10, ../scss/_base.scss */
header { text-align: center; }

/* line 5, ../scss/_main.scss */
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10px; line-height: 24px; background-color: #82cfff; }

/* line 12, ../scss/_main.scss */
.wrapper { width: 70%; height: 100%; margin: 0 auto; background: rgba(218, 218, 218, 0.43); font-size: 1.6em; -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }
@media screen and (max-width: 1580px) { /* line 12, ../scss/_main.scss */
  .wrapper { width: 100%; } }

/* line 24, ../scss/_main.scss */
.container { width: 60%; margin: 0 3%; float: left; margin-bottom: 2%; }
@media screen and (max-width: 1100px) { /* line 24, ../scss/_main.scss */
  .container { width: 64%; } }
@media screen and (max-width: 768px) { /* line 24, ../scss/_main.scss */
  .container { width: 100%; float: none; margin: 0 1% 2%; } }
@media screen and (max-width: md) { /* line 24, ../scss/_main.scss */
  .container { width: 100%; float: none; margin: 0 1% 2%; } }

/* line 40, ../scss/_main.scss */
.aside { width: 27%; margin-right: 3%; float: right; }

/* line 46, ../scss/_main.scss */
.bottom--container { clear: both; margin-left: 3%; margin-right: 3%; border: 1px solid #fcfdf2; background: linear-gradient(#82cfff, #fcfdf2); padding-top: 2.5%; padding-bottom: 2.5%; }
@media screen and (max-width: 768px) { /* line 46, ../scss/_main.scss */
  .bottom--container { margin-left: 1%; margin-right: 1%; width: 98%; } }
@media screen and (max-width: md) { /* line 46, ../scss/_main.scss */
  .bottom--container { margin-left: 1%; margin-right: 1%; width: 98%; } }

/* line 62, ../scss/_main.scss */
.bottom__section { float: left; width: 27%; height: 460px; border: 1px solid #0b0b0b; margin-left: 2.5%; background: rgba(91, 119, 136, 0.2); }
/* line 69, ../scss/_main.scss */
.bottom__section--contact { width: 36%; margin-right: 2.5%; overflow: hidden; border: 0; background: none; }
@media screen and (max-width: 768px) { /* line 69, ../scss/_main.scss */
  .bottom__section--contact { width: 100%; margin-top: 2%; } }
@media screen and (max-width: md) { /* line 69, ../scss/_main.scss */
  .bottom__section--contact { width: 100%; margin-top: 2%; } }
/* line 79, ../scss/_main.scss */
.bottom__section--contact img { max-width: 100%; }
@media screen and (max-width: 480px) { /* line 69, ../scss/_main.scss */
  .bottom__section--contact { margin: 3% 0 0 4%; } }
@media screen and (max-width: sm) { /* line 69, ../scss/_main.scss */
  .bottom__section--contact { margin: 3% 0 0 4%; } }
@media screen and (max-width: 768px) { /* line 86, ../scss/_main.scss */
  .bottom__section--downloads { width: 46%; margin-right: 2.5%; } }
@media screen and (max-width: md) { /* line 86, ../scss/_main.scss */
  .bottom__section--downloads { width: 46%; margin-right: 2.5%; } }
@media screen and (max-width: 480px) { /* line 86, ../scss/_main.scss */
  .bottom__section--downloads { width: 67%; margin: 0 auto; height: 414px; float: none; } }
@media screen and (max-width: sm) { /* line 86, ../scss/_main.scss */
  .bottom__section--downloads { width: 67%; margin: 0 auto; height: 414px; float: none; } }
/* line 98, ../scss/_main.scss */
.bottom__section--downloads h3 { text-align: center; }

@media screen and (max-width: 768px) { /* line 104, ../scss/_main.scss */
  .clubblad { width: 46%; margin-left: 2.5%; } }
@media screen and (max-width: md) { /* line 104, ../scss/_main.scss */
  .clubblad { width: 46%; margin-left: 2.5%; } }
@media screen and (max-width: 480px) { /* line 104, ../scss/_main.scss */
  .clubblad { display: none; } }
@media screen and (max-width: sm) { /* line 104, ../scss/_main.scss */
  .clubblad { display: none; } }

/* line 114, ../scss/_main.scss */
.contact { padding: 2% 0 4% 37%; background-color: #ff8639; border-top: 1px solid #fcfdf2; }
/* line 119, ../scss/_main.scss */
.contact--image { max-width: 100%; float: left; }
/* line 123, ../scss/_main.scss */
.contact--info { float: left; }

/* line 128, ../scss/_main.scss */
.leden { padding: 2% 0 3% 0; border-top: 1px solid #fcfdf2; display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; background-color: #82cfff; }
/* line 134, ../scss/_main.scss */
.leden--image { margin-top: 6%; }

/* line 140, ../scss/_main.scss */
.locatie { border-top: 1px solid #fcfdf2; display: -webkit-flex; display: flex; padding: 2% 5% 3% 5%; -webkit-justify-content: space-around; justify-content: space-around; }

/* line 148, ../scss/_main.scss */
.locatie--sponsor { width: 30% !important; }

/* line 152, ../scss/_main.scss */
.locatie--kantine { width: 55% !important; }

/* line 156, ../scss/_main.scss */
.bestuur-lockup { border-top: 1px solid #fcfdf2; border-bottom: 1px solid #fcfdf2; padding-top: 1em; padding-bottom: 2em; background: #b8b8b8; text-align: center; }
/* line 163, ../scss/_main.scss */
.bestuur-lockup .bestuur { background: rgba(0, 139, 227, 0.9); color: #000; width: 37%; height: 175px; border-radius: 3px; box-shadow: 5px 5px 1px #888999; padding: 15px; position: relative; display: inline-block; margin: 0.8%; }
/* line 174, ../scss/_main.scss */
.bestuur-lockup .bestuur .bestuur_status { font-weight: bold; }
/* line 176, ../scss/_main.scss */
.bestuur-lockup .bestuur .bestuur_status p:first-child { margin-bottom: 0; font-size: 163%; margin-top: 0.3rem; }
/* line 181, ../scss/_main.scss */
.bestuur-lockup .bestuur .bestuur_status p:last-child { margin-top: 0; color: white; letter-spacing: 0.05em; font-size: 130%; }
/* line 189, ../scss/_main.scss */
.bestuur-lockup .bestuur .bestuur_info { position: absolute; bottom: 15px; left: 15px; text-align: left; }
/* line 194, ../scss/_main.scss */
.bestuur-lockup .bestuur .bestuur_info p:last-child { margin-bottom: 0; }
/* line 198, ../scss/_main.scss */
.bestuur-lockup .bestuur img { border-radius: 50%; border: 1px solid white; float: right; }

/* line 5, ../scss/modules/_header.scss */
header { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMmQ0YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiMjIyNSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -moz-radial-gradient(center, #002d4a, #1b2225); background: -webkit-radial-gradient(center, #002d4a, #1b2225); background: radial-gradient(center, #002d4a, #1b2225); padding: 0 4.5em; border-bottom: 1px solid #fcfdf2; height: 10rem; line-height: 10rem; position: relative; text-transform: uppercase; }
@media screen and (max-width: 1100px) { /* line 5, ../scss/modules/_header.scss */
  header { height: 10em; line-height: 5em; padding: 0 0.5em; } }
@media screen and (max-width: 480px) { /* line 5, ../scss/modules/_header.scss */
  header { height: 8em; } }
@media screen and (max-width: sm) { /* line 5, ../scss/modules/_header.scss */
  header { height: 8em; } }
/* line 21, ../scss/modules/_header.scss */
header .header--logo { float: left; text-shadow: 3px 3px 1px #000e17; font-family: "Bitter", serif; color: #fcfdf2; }
@media screen and (max-width: 1100px) { /* line 21, ../scss/modules/_header.scss */
  header .header--logo { float: none; padding-top: 1em; } }
@media screen and (max-width: 480px) { /* line 21, ../scss/modules/_header.scss */
  header .header--logo { padding-top: 0; } }
@media screen and (max-width: sm) { /* line 21, ../scss/modules/_header.scss */
  header .header--logo { padding-top: 0; } }
/* line 33, ../scss/modules/_header.scss */
header .header--logo h1 { margin: 0; font-size: 3.7rem; }
@media screen and (max-width: 480px) { /* line 33, ../scss/modules/_header.scss */
  header .header--logo h1 { font-size: 2.7rem; } }
@media screen and (max-width: sm) { /* line 33, ../scss/modules/_header.scss */
  header .header--logo h1 { font-size: 2.7rem; } }

/* line 43, ../scss/modules/_header.scss */
.header--background { background: url('../img/main--bg.jpg?1417978467') 112% 63% no-repeat; background-size: 100%; min-width: 100%; height: 350px; border-bottom: 1px solid white; }
@media screen and (max-width: 768px) { /* line 43, ../scss/modules/_header.scss */
  .header--background { height: 275px; background: url('../img/main--bg.jpg?1417978467') 58% 67% no-repeat; } }
@media screen and (max-width: md) { /* line 43, ../scss/modules/_header.scss */
  .header--background { height: 275px; background: url('../img/main--bg.jpg?1417978467') 58% 67% no-repeat; } }
@media screen and (max-width: 480px) { /* line 43, ../scss/modules/_header.scss */
  .header--background { height: 230px; background: url('../img/main--bg.jpg?1417978467') 40% 62% no-repeat; } }
@media screen and (max-width: sm) { /* line 43, ../scss/modules/_header.scss */
  .header--background { height: 230px; background: url('../img/main--bg.jpg?1417978467') 40% 62% no-repeat; } }

/* line 59, ../scss/modules/_header.scss */
.welcome--info { width: 100%; position: relative; background: none repeat scroll rgba(0, 108, 176, 0.93); padding: 0px 15px 15px; border-bottom: 1px solid #fcfdf2; border-top: 1px solid #fcfdf2; height: 75px; line-height: 75px; text-align: right; color: #fcfdf2; letter-spacing: 0.2em; top: -4.7rem; margin: 0; }
@media screen and (max-width: 768px) { /* line 59, ../scss/modules/_header.scss */
  .welcome--info { font-size: 1.4em; height: 68px; line-height: 68px; top: -4.2rem; } }
@media screen and (max-width: md) { /* line 59, ../scss/modules/_header.scss */
  .welcome--info { font-size: 1.4em; height: 68px; line-height: 68px; top: -4.2rem; } }
@media screen and (max-width: 480px) { /* line 59, ../scss/modules/_header.scss */
  .welcome--info { font-size: 1em; height: 56px; line-height: 56px; top: -3.5rem; letter-spacing: 0.01em; text-align: center; } }
@media screen and (max-width: sm) { /* line 59, ../scss/modules/_header.scss */
  .welcome--info { font-size: 1em; height: 56px; line-height: 56px; top: -3.5rem; letter-spacing: 0.01em; text-align: center; } }

/* line 86, ../scss/modules/_header.scss */
.news__header { background-color: #0b0b0b; height: 70px; line-height: 70px; color: #fcfdf2; padding-left: 14%; font-size: 2em; margin-top: -1.7em; }
@media screen and (max-width: 768px) { /* line 86, ../scss/modules/_header.scss */
  .news__header { font-size: 1.4em; margin-top: -2.2em; height: 60px; line-height: 60px; letter-spacing: 0.05em; } }
@media screen and (max-width: md) { /* line 86, ../scss/modules/_header.scss */
  .news__header { font-size: 1.4em; margin-top: -2.2em; height: 60px; line-height: 60px; letter-spacing: 0.05em; } }
@media screen and (max-width: 480px) { /* line 86, ../scss/modules/_header.scss */
  .news__header { height: 56px; line-height: 56px; margin-top: -2em; margin-bottom: 2%; } }
@media screen and (max-width: sm) { /* line 86, ../scss/modules/_header.scss */
  .news__header { height: 56px; line-height: 56px; margin-top: -2em; margin-bottom: 2%; } }

/* line 8, ../scss/modules/_nav.scss */
nav { float: right; font-size: 1.3rem; }
@media screen and (max-width: 1100px) { /* line 8, ../scss/modules/_nav.scss */
  nav { float: none; } }
@media screen and (max-width: 480px) { /* line 8, ../scss/modules/_nav.scss */
  nav { display: none; } }
@media screen and (max-width: sm) { /* line 8, ../scss/modules/_nav.scss */
  nav { display: none; } }
/* line 17, ../scss/modules/_nav.scss */
nav ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
/* line 62, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; float: left; padding-left: 7px; padding-right: 7px; }
/* line 49, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:first-child { padding-left: 0; }
/* line 50, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li:last-child { padding-right: 0; }
/* line 52, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav ul li.last { padding-right: 0; }
@media screen and (max-width: 1100px) { /* line 17, ../scss/modules/_nav.scss */
  nav ul { margin-top: -0.8em; } }
@media screen and (max-width: 1100px) { /* line 22, ../scss/modules/_nav.scss */
  nav ul li { float: none; display: inline-block; } }
@media screen and (max-width: 480px) { /* line 22, ../scss/modules/_nav.scss */
  nav ul li { display: block; line-height: 2em; } }
@media screen and (max-width: sm) { /* line 22, ../scss/modules/_nav.scss */
  nav ul li { display: block; line-height: 2em; } }
@media screen and (max-width: 480px) { /* line 31, ../scss/modules/_nav.scss */
  nav ul li:first-child { margin-top: 0.5em; } }
@media screen and (max-width: sm) { /* line 31, ../scss/modules/_nav.scss */
  nav ul li:first-child { margin-top: 0.5em; } }
/* line 39, ../scss/modules/_nav.scss */
nav .header__links { text-decoration: none; color: #008BE3; font-weight: bold; text-shadow: 3px 3px 1px #000e17; }
/* line 44, ../scss/modules/_nav.scss */
nav .header__links:hover { color: #fcfdf2; text-decoration: underline; }

/* line 51, ../scss/modules/_nav.scss */
.menu { display: none; }
@media screen and (max-width: 480px) { /* line 51, ../scss/modules/_nav.scss */
  .menu { display: block; color: #008BE3; line-height: 1em; font-size: 1.5em; }
  /* line 58, ../scss/modules/_nav.scss */
  .menu:hover { color: #fcfdf2; } }
@media screen and (max-width: sm) { /* line 51, ../scss/modules/_nav.scss */
  .menu { display: block; color: #008BE3; line-height: 1em; font-size: 1.5em; }
  /* line 58, ../scss/modules/_nav.scss */
  .menu:hover { color: #fcfdf2; } }
/* line 62, ../scss/modules/_nav.scss */
.menu i { padding-left: 0.5em; }

@media screen and (max-width: 768px) { /* line 1, ../scss/modules/_aside.scss */
  .aside__sponsors, .aside__agenda { margin-bottom: 2% !important; } }
@media screen and (max-width: md) { /* line 1, ../scss/modules/_aside.scss */
  .aside__sponsors, .aside__agenda { margin-bottom: 2% !important; } }

/* line 8, ../scss/modules/_aside.scss */
.aside__sponsors { margin-bottom: 8%; }
/* line 11, ../scss/modules/_aside.scss */
.aside__sponsors--images { text-align: center; }
@media screen and (max-width: 768px) { /* line 11, ../scss/modules/_aside.scss */
  .aside__sponsors--images { display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; } }
@media screen and (max-width: md) { /* line 11, ../scss/modules/_aside.scss */
  .aside__sponsors--images { display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around; } }
@media screen and (max-width: 768px) { /* line 18, ../scss/modules/_aside.scss */
  .aside__sponsors img { width: 32%; } }
@media screen and (max-width: md) { /* line 18, ../scss/modules/_aside.scss */
  .aside__sponsors img { width: 32%; } }
@media screen and (max-width: 480px) { /* line 8, ../scss/modules/_aside.scss */
  .aside__sponsors { display: none; } }
@media screen and (max-width: sm) { /* line 8, ../scss/modules/_aside.scss */
  .aside__sponsors { display: none; } }

@media screen and (max-width: 768px) { /* line 28, ../scss/modules/_aside.scss */
  .aside { width: 98%; margin-left: 1%; margin-right: 1%; } }
@media screen and (max-width: md) { /* line 28, ../scss/modules/_aside.scss */
  .aside { width: 98%; margin-left: 1%; margin-right: 1%; } }

/* line 37, ../scss/modules/_aside.scss */
.aside h2 { text-align: center; }

/* line 5, ../scss/modules/_tabs.scss */
.tab-panels ul li .active, .tab-panels ul li:hover, .tab-panels ul li.active { color: #fff; background: #666; }

/* line 16, ../scss/modules/_tabs.scss */
.tab-panels ul li { background: #999; color: #fff; padding: 3px 10px; border-radius: 10px 10px 0 0; font-size: 2.2rem; font-size: 1.2em; }

/* line 29, ../scss/modules/_tabs.scss */
.tab-panels .panel { display: none; background: rgba(91, 119, 136, 0.2); padding: 15px; border-radius: 0 5px 10px 10px; height: 430px; width: 430px; color: black; }
/* line 37, ../scss/modules/_tabs.scss */
.tab-panels .panel.active { display: inline-block; }

/* line 47, ../scss/modules/_tabs.scss */
.contact p { line-height: 0.5em; }
/* line 49, ../scss/modules/_tabs.scss */
.contact p:last-child { font-weight: bold; }

@media screen and (max-width: 768px) { /* line 56, ../scss/modules/_tabs.scss */
  .news-tabs { float: left; width: 27%; } }
@media screen and (max-width: md) { /* line 56, ../scss/modules/_tabs.scss */
  .news-tabs { float: left; width: 27%; } }
@media screen and (max-width: 480px) { /* line 56, ../scss/modules/_tabs.scss */
  .news-tabs { width: 98%; } }
@media screen and (max-width: sm) { /* line 56, ../scss/modules/_tabs.scss */
  .news-tabs { width: 98%; } }
/* line 65, ../scss/modules/_tabs.scss */
.news-tabs .news-tab { float: left; width: 33.33%; padding: 2% 2% 0 2%; height: 75px; background: #77beec; border: 1px solid #fcfdf2; border-bottom: 0; color: #666; text-align: center; font-size: 18px; position: relative; letter-spacing: 0.03em; }
@media screen and (max-width: 768px) { /* line 65, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab { width: 100%; height: 100px; padding-top: 12%; line-height: 1.5; border-right: 0; } }
@media screen and (max-width: md) { /* line 65, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab { width: 100%; height: 100px; padding-top: 12%; line-height: 1.5; border-right: 0; } }
@media screen and (max-width: 480px) { /* line 65, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab { height: 45px; line-height: 45px; padding: 0; border-right: 1px solid #fcfdf2; } }
@media screen and (max-width: sm) { /* line 65, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab { height: 45px; line-height: 45px; padding: 0; border-right: 1px solid #fcfdf2; } }
/* line 90, ../scss/modules/_tabs.scss */
.news-tabs .news-tab span { display: none; }
/* line 93, ../scss/modules/_tabs.scss */
.news-tabs .news-tab:hover { cursor: pointer; background: #31afff; }
/* line 97, ../scss/modules/_tabs.scss */
.news-tabs .news-tab.news-active { background: #008BE3; color: #0b0b0b; font-style: italic; color: #fcfdf2; }
/* line 102, ../scss/modules/_tabs.scss */
.news-tabs .news-tab.news-active span { display: inline; position: absolute; bottom: -11px; color: #fcfdf2; left: 80%; }
@media screen and (max-width: 768px) { /* line 102, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab.news-active span { display: none; } }
@media screen and (max-width: md) { /* line 102, ../scss/modules/_tabs.scss */
  .news-tabs .news-tab.news-active span { display: none; } }

/* line 116, ../scss/modules/_tabs.scss */
#ntab2 { border-left: 0; border-right: 0; }
@media screen and (max-width: 768px) { /* line 116, ../scss/modules/_tabs.scss */
  #ntab2 { border-left: 1px solid #fcfdf2; } }
@media screen and (max-width: md) { /* line 116, ../scss/modules/_tabs.scss */
  #ntab2 { border-left: 1px solid #fcfdf2; } }
@media screen and (max-width: 480px) { /* line 116, ../scss/modules/_tabs.scss */
  #ntab2 { border-right: 1px solid #fcfdf2; } }
@media screen and (max-width: sm) { /* line 116, ../scss/modules/_tabs.scss */
  #ntab2 { border-right: 1px solid #fcfdf2; } }

@media screen and (max-width: 768px) { /* line 127, ../scss/modules/_tabs.scss */
  #ntab3 { border-bottom: 1px solid #fcfdf2; } }
@media screen and (max-width: md) { /* line 127, ../scss/modules/_tabs.scss */
  #ntab3 { border-bottom: 1px solid #fcfdf2; } }
@media screen and (max-width: 480px) { /* line 127, ../scss/modules/_tabs.scss */
  #ntab3 { border-bottom: 0; } }
@media screen and (max-width: sm) { /* line 127, ../scss/modules/_tabs.scss */
  #ntab3 { border-bottom: 0; } }

@media screen and (max-width: 768px) { /* line 137, ../scss/modules/_tabs.scss */
  .news h1 { margin: 0; line-height: 1em; } }
@media screen and (max-width: md) { /* line 137, ../scss/modules/_tabs.scss */
  .news h1 { margin: 0; line-height: 1em; } }
@media screen and (max-width: 480px) { /* line 137, ../scss/modules/_tabs.scss */
  .news h1 { font-size: 1.45em; line-height: 1.65517em; margin-bottom: -1em; text-align: center; } }
@media screen and (max-width: sm) { /* line 137, ../scss/modules/_tabs.scss */
  .news h1 { font-size: 1.45em; line-height: 1.65517em; margin-bottom: -1em; text-align: center; } }
/* line 148, ../scss/modules/_tabs.scss */
.news h5 { font-style: italic; font-weight: 400; }

@media screen and (max-width: 768px) { /* line 4, ../scss/modules/_articles.scss */
  .container article { float: left; width: 71%; height: 500px; overflow: hidden; }
  /* line 10, ../scss/modules/_articles.scss */
  .container article:hover { cursor: pointer; } }
@media screen and (max-width: md) { /* line 4, ../scss/modules/_articles.scss */
  .container article { float: left; width: 71%; height: 500px; overflow: hidden; }
  /* line 10, ../scss/modules/_articles.scss */
  .container article:hover { cursor: pointer; } }
@media screen and (max-width: 480px) { /* line 4, ../scss/modules/_articles.scss */
  .container article { width: 98%; } }
@media screen and (max-width: sm) { /* line 4, ../scss/modules/_articles.scss */
  .container article { width: 98%; } }

/* line 18, ../scss/modules/_articles.scss */
.news { border: 1px solid #fcfdf2; background: #82cfff; padding: 3.5%; display: none; }
/* line 23, ../scss/modules/_articles.scss */
.news.active { display: block; }
/* line 26, ../scss/modules/_articles.scss */
.news__image { padding-left: 12px; padding-bottom: 10px; float: right; }
@media screen and (max-width: 768px) { /* line 26, ../scss/modules/_articles.scss */
  .news__image { display: none; } }
@media screen and (max-width: md) { /* line 26, ../scss/modules/_articles.scss */
  .news__image { display: none; } }

/* line 1, ../scss/modules/_flipsides.scss */
.flip-container { -moz-perspective: 1000; -webkit-perspective: 1000; perspective: 1000; }

/* flip the pane when hovered */
/* line 6, ../scss/modules/_flipsides.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper { -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/* line 11, ../scss/modules/_flipsides.scss */
.flip-container, .front, .back { width: 100%; height: 480px; }

/* flip speed goes here */
/* line 17, ../scss/modules/_flipsides.scss */
.flipper { transition: 0.6s; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }

/* hide back of pane during swap */
/* line 24, ../scss/modules/_flipsides.scss */
.front, .back { -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; position: absolute; top: 0; left: 0; }

/* front pane, placed above back */
/* line 32, ../scss/modules/_flipsides.scss */
.front { z-index: 2; background: transparent; text-align: center; }

/* back, initially hidden pane */
/* line 40, ../scss/modules/_flipsides.scss */
.back { -moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); transform: rotateY(180deg); line-height: 480px; background: transparent; text-align: center; }

/* line 5, ../scss/modules/_footer.scss */
footer { height: 5rem; line-height: 5rem; text-align: center; font-style: italic; color: #0b0b0b; letter-spacing: 0.03em; background: rgba(91, 119, 136, 0.2); margin-top: 2.5%; }
/* line 13, ../scss/modules/_footer.scss */
footer h5 { margin: 0; }

/* line 6, ../scss/modules/_tables.scss */
table.compTeam { width: 580px; background-color: #008BE3; border: 1px #000000 solid; border-collapse: collapse; border-spacing: 0px; position: relative; float: left; margin: 0 2% 2% 2%; }

/* line 18, ../scss/modules/_tables.scss */
td.teamName { background-color: #008BE3; border: 1px #000000 solid; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; font-size: 16px; color: #0b0b0b; padding: 8px; }

/* line 28, ../scss/modules/_tables.scss */
td.league { text-align: center; font-weight: bold; }

/* line 33, ../scss/modules/_tables.scss */
td.player { border-bottom: 1px #6699CC dotted; text-align: left; font-family: Verdana, sans-serif, Arial; font-weight: normal; font-size: .7em; color: #404040; background-color: #fafafa; padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 0px; }

/* line 47, ../scss/modules/_tables.scss */
.team_photo { height: 92px; width: 196px; position: absolute; right: 7px; bottom: 7px; }
/* line 53, ../scss/modules/_tables.scss */
.team_photo:hover { cursor: pointer; }

/* line 64, ../scss/modules/_tables.scss */
#nttb-site { width: 96%; margin-left: 2%; height: 425px; }

/* line 1, ../scss/modules/_albums.scss */
.photo-albums { width: 96%; margin-left: 2%; }
/* line 8, ../scss/modules/_albums.scss */
.photo-albums--preview { height: 31%; width: 31%; margin: 0 1% 2%; padding: 1% 1% 0 1%; border: 1px solid #0b0b0b; display: inline-block; }
/* line 15, ../scss/modules/_albums.scss */
.photo-albums--preview img { max-width: 100%; }
/* line 17, ../scss/modules/_albums.scss */
.photo-albums--preview img:hover { cursor: pointer; }
/* line 22, ../scss/modules/_albums.scss */
.photo-albums__subtitle { text-align: center; padding-bottom: 4px; }

/* line 28, ../scss/modules/_albums.scss */
.gallery { margin: 0 auto; width: 75%; }
/* line 31, ../scss/modules/_albums.scss */
.gallery img { height: 144px; width: 15%; }

/* line 4, ../scss/modules/_buttons.scss */
.btn-default { width: 150px; padding: 15px; text-align: center; font-size: 1.5em; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
/* line 10, ../scss/modules/_buttons.scss */
.btn-default a { text-decoration: none; color: #fcfdf2; }

/* line 27, ../scss/modules/_buttons.scss */
.btn-default { background: #008BE3; border-bottom: 5px solid #00619f; }
/* line 21, ../scss/modules/_buttons.scss */
.btn-default:hover { background: #009cff; border-bottom: 5px solid #008BE3; }
