<article class="news" id="news3">
          <h2 class="news__title">ATTC’77 zet jubilarissen in het zonnetje</h2>
          <h5>Auteur: Frederieke van de Poel op 17-12-2014</h5>

          <img class="news__image" src="img/informatie/tafeltennis.jpg" alt="nieuws_Foto">
          <p>  De gymzaal van tafeltennisvereniging ATTC’77 uit Aarle-Rixtel was zaterdag 13 december door een groep vrijwilligers omgetoverd tot een heuse feestzaal, voor de jaarlijkse feestavond. Het feest stond in het teken van de ‘flower power’. </p>

          <p>De avond werd geopend met de huldiging van zeven jubilarissen die 25 jaar lid zijn. Jimmy Pura, Koos Martinali, Gerard Vogels, William Vlamings, Martin Jacobs, Fredo Muno en Henk Martens ontvingen van het bestuur een mooi beeldje van een tafeltennisser. Met deze zeven erbij zijn er inmiddels 37 mensen gehuldigd in het bijna 40-jarige bestaan van de vereniging. </p> 

          <p>Na het officiële gedeelte kon het feest beginnen. Natuurlijk kon er worden gedanst, maar er was ook een pubquiz in elkaar gezet door de feestcommissie. In groepjes van vijf personen kon men zich buigen over vragen met als thema’s flower power, geografie, muziek, actualiteit, sport en ATTC’77. Voor de beste groep was er een klein prijsje. Verder was er een loterij, waarvan de opbrengst naar de vereniging ging en stonden er twee kramen met hapjes. Aan het einde van de avond was er nog een kleinigheidje voor de best verklede flower power vrouw en man, Dorien Rovers en Johnny van den Elzen.</p>

          <p>Afgelopen weekend werd er ook nog getafeltennist. Het vijfde seniorenteam, dat als tweede geëindigd was in de zesde klasse, mocht spelen om promo-tie naar de vijfde klasse. Jeroen Doensen, Vincent Braak, Jeroen van der Heijden, Dorette van den Elsen en Marijn van Krieken hadden de zenuwen niet in bedwang en verloren met 7-3 van MTTV’72-3 uit Mierlo.</p> 
      <div class="news--warning">
        <p>Klik op het artikel om verder te lezen</p>
      </div>

        </article>