<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="ATTC'77 is een tafeltennisvereniging uit Aarle-Rixtel.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../../css/application.css">
  <link rel="stylesheet" type="text/css" href="../../css/footable_theme.css" />
  <link rel="stylesheet" href="../../css/font-awesome.min.css"> 
  <link rel="stylesheet" href="../../js/lightbox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-buttons.css">
  <link rel="stylesheet" href="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.css"> 
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="../competitie.html">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="../fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="../#">Algemene informatie</a>
            </li>
            <li>
              <a class="header__links" href="../gastenboek.html">Gastenboek</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Vrijwilligersdag 2013</h1>
    
	<div class="gallery">
      <a class="fancybox" rel="vrijwilligersdag2013" title="Mark Vogels - voorzitter ATTC' 77" href="../../img/vrijwilligersdag/dsc06275.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06275.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06276.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06276.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06277.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06277.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06278.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06278.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06279.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06279.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06280.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06280.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06281.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06281.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06282.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06283.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/dsc06284.jpg"><img src="../../img/vrijwilligersdag/thumbnails/dsc06284.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020550.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020550.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020560.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020560.jpg" alt=""></a>
      <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020566.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020566.jpg" alt=""></a>
        <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020571.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020571.jpg" alt=""></a>
        <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020574.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020574.jpg" alt=""></a>
        <a class="fancybox" rel="vrijwilligersdag2013" href="../../img/vrijwilligersdag/p1020576.jpg"><img src="../../img/vrijwilligersdag/thumbnails/p1020576.jpg" alt=""></a>
        <div class="btn-default"><a href="../fotos.html">terug</a></div>
    </div>


    

    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; psy-dev.nl (2014)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../../js/lightbox/source/jquery.fancybox.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-buttons.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-media.js"></script>
  <script src="../../js/lightbox/source/helpers/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
      afterShow: function() {
          $(".fancybox-title").wrapInner('<div />').show();
          
          $(".fancybox-wrap").hover(function() {
              $(".fancybox-title").show();
          }, function() {
              $(".fancybox-title").hide();
          });
      },
      prevEffect: 'none',
      nextEffect: 'none',
      padding: '0',
      helpers : {
          title: {
            type: 'over'
          },
          thumbs: {
            width: 150,
            height : 100
          }
      }
      });
  });
  </script>
</body>

</html>





