// ==========================================================================
// Articles
// =========================================================================
.container article {
  @include responsive(md) {
    float: left;
    width: 71%;
    height: 500px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }    
  }
}
.news {
  border: $border-default;
  background: $bgcolor-light;
  padding: 3.5%;
  display: none;
  &.active {
    display: block;
  }
  &__image {
  	@include padding(left, 12px);
  	@include padding(bottom, 10px);
  	float: right;
  }
}


