<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="Hier vindt u alle informatie over de teams van ATTC '77 die dit seizoen competitie spelen. ATTC '77 speelt haar wedestrijden in de regio Zuid-West">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- <link rel="stylesheet" href="../css/vendor/magnific-popup.css"> -->
  <link rel="stylesheet" type="text/css" href="../css/application.css">
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="#">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="algemene-informatie.html">Algemene informatie</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Competitie najaar 2015</h1>


    <div class="comp-container">
      <div id="modal-window">
        
      </div>

    
      <h2 class="competitie__title">Senioren</h2>
      <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 1</td>
          <td class="league" colspan="1">1e klasse
              <a class="image" href="#modal-window">
                  <img class="team_photo" data-modal rel="team1" src="../img/informatie/team1_thumb.jpg" alt="team photo">
              </a>
          </td>
        </tr>
        <tr>
          <td class="player">W. Vlamings</td>
          <td class="bondsnummer">2528949</td>
        </tr>
        <tr>
          <td class="player">B. Boetzkes</td>
          <td class="bondsnummer">2934205</td>
        </tr>
        <tr>
          <td class="player">J-P. Kanters</td>
          <td class="bondsnummer">3633462</td>
        </tr>
      </table>

       <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 2</td>
          <td class="league" colspan="1">3e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">J. Beniers</td>
          <td class="bondsnummer">2646103</td>
        </tr>
        <tr>
          <td class="player">J. Voorhout</td>
          <td class="bondsnummer">3797313</td>
        </tr>
        <tr>
          <td class="player">K. van der putten</td>
          <td class="bondsnummer">1254424</td>
        </tr>

      </table>

       <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 3</td>
          <td class="league" colspan="1">3e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">M. Rovers</td>
          <td class="bondsnummer">3226744</td>
        </tr>
        <tr>
          <td class="player">F. van de Poel</td>
          <td class="bondsnummer">1800306</td>
        </tr>
        <tr>
          <td class="player">M. Elshof</td>
          <td class="bondsnummer">2342783</td>
        </tr>
        <tr>
          <td class="player">B. Willems</td>
          <td class="bondsnummer">3913082</td>
        </tr>
        <tr>
          <td class="player">D. van der Putten</td>
          <td class="bondsnummer">4070764</td>
        </tr>
      </table>
       <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 4</td>
          <td class="league" colspan="1">5e klasse <img class="team_photo" rel="team4" src="../img/informatie/team4_thumb.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">J. van de Elzen</td>
          <td class="bondsnummer">2184509</td>
        </tr>
        <tr>
          <td class="player">J. Heurter</td>
          <td class="bondsnummer">1403374</td>
        </tr>
        <tr>
          <td class="player">J. Martinali</td>
          <td class="bondsnummer">2837699</td>
        </tr>
        <tr>
          <td class="player">T. Smulders</td>
          <td class="bondsnummer">3353923</td>
        </tr>      
      </table>

       <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 5</td>
          <td class="league" colspan="1">6e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">J. Doensen</td>
          <td class="bondsnummer">3316337</td>
        </tr>
        <tr>
          <td class="player">V. Braak</td>
          <td class="bondsnummer">3630333</td>
        </tr>
        <tr>
          <td class="player">S. Vergroesen</td>
          <td class="bondsnummer">2785193</td>
        </tr>   
        <tr>
          <td class="player">D. van den Elsen (reserve)</td>
          <td class="bondsnummer">3745015</td>
        </tr>    
      </table>

      <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 6</td>
          <td class="league" colspan="1">7e klasse <img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">J. van de Broek</td>
          <td class="bondsnummer">2191988</td>
        </tr>
        <tr>
          <td class="player">T. van den Boogaard</td>
          <td class="bondsnummer">3938862</td>
        </tr>   
        <tr>
          <td class="player">M. Doensen</td>
          <td class="bondsnummer">3889940</td>
        </tr>  
        <tr>
          <td class="player">R. Doensen</td>
          <td class="bondsnummer">3849827</td>
        </tr>       
      </table>
    </div>
    
    <div class="jeugd">
      <h2 class="competitie__title">Jeugd</h2>
      <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 1</td>
          <td class="league" colspan="1">Junioren 4e klasse <a class="image" href="#modal-window"><img class="team_photo" rel="team1" src="../img/informatie/team.jpg" alt="team photo"></a></td>
        </tr>
        <tr>
          <td class="player">H. Steenbakkers</td>
          <td class="bondsnummer">4072766</td>
        </tr>
        <tr>
          <td class="player">N. Doensen</td>
          <td class="bondsnummer">3955602</td>
        </tr>
        <tr>
          <td class="player">W. Doensen</td>
          <td class="bondsnummer">3864665</td>
        </tr>
        <tr>
          <td class="player">M. van Schaik</td>
          <td class="bondsnummer">4072758</td>
        </tr>
      </table>

       <table class="compTeam" cellspacing="0">
        <tr>
          <td class="teamName" colspan="2">Team 2</td>
          <td class="league" colspan="1">Startersklasse 2<img class="team_photo" rel="team" src="../img/informatie/team.jpg" alt="team photo"></td>
        </tr>
        <tr>
          <td class="player">M. Hermans</td>
          <td class="bondsnummer">4135506</td>
        </tr>
        <tr>
          <td class="player">J. van Veenendaal</td>
          <td class="bondsnummer">4103559</td>
        </tr>
        <tr>
          <td class="player">L. Sangers</td>
          <td class="bondsnummer">4103567</td>
        </tr>
        <tr>
          <td class="player">Y. Swinkels</td>
          <td class="bondsnummer">4135514</td>
        </tr>
        <tr>
          <td class="player">I. Houben</td>
          <td class="bondsnummer">4135522</td>
        </tr>
      </table>
    </div>

    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" href="#">psy-dev.nl</a> (2014-2016)</h5>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/scripts.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>

</body>

</html>