<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tafeltennisvereniging ATTC '77</title>
  <meta name="description" content="Wilt u ATTC'77 contacteren of lid worden van onze vereniging dan vindt u hiervoor de informatie op deze pagina.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../css/application.css">

  <style>
  footer {
    margin-top: 0;
  }
  </style>
</head>

<body>
  <div class="wrapper">
    <header>
        <div class="header--logo">
          <h1>ATTC '77</h1>
        </div>
        <div class="menu">
          Menu<i class="fa fa-reorder fa-1x"></i>
        </div>
        <nav>
          <ul>
            <li>
              <a class="header__links" href="../index.html">Home</a>
            </li>
            <li>
              <a class="header__links" href="competitie.html">Competitie</a>
            </li>
            <li>
              <a class="header__links" href="fotos.html">Foto's</a>
            </li>
            <li>
              <a class="header__links" href="#">Algemene informatie</a>
            </li>
          </ul>
        </nav>

    </header>
    <!-- END OF HEADER -->
    <h1 class="views-title">Privacy Verklaring tafeltennisvereniging A.T.T.C. ’77</h1>
    
   <p>Tafeltennisvereniging ATTC ’77 hecht waarde aan de bescherming van uw persoonsgegevens. In
    deze Privacy Verklaring geeft het bestuur namens de vereniging informatie over hoe de vereniging
    omgaat met persoonsgegevens.
    ATTC ’77 houdt zich in alle gevallen aan de toepasselijke wet- en regelgeving, waaronder de
    Algemene Verordening Gegevensbescherming (AVG). Dit brengt met zich mee dat ATTC ’77 in
    ieder geval: </p>
  
    <ul>
      <li>Uw persoonsgegevens verwerkt in overeenstemming met het doel waarvoor deze zijn verstrekt.
        Het doel en type persoonsgegevens wordt nader aangegeven;</li>
        <li>Verwerking van uw persoonsgegevens blijft beperkt tot enkel die gegevens welke minimaal
          nodig zijn voor de doeleinden waarvoor ze worden verwerkt;</li>
        <li>Uw uitdrukkelijke toestemming wordt gevraagd als ATTC ’77 deze nodig heeft voor de
          verwerking van bepaalde persoonsgegevens. Hierbij valt te denken aan gegevens van
          minderjarige leden en van deelnemers aan de NTTB-competitie;</li>
          <li>Passende technische en/of organisatorische maatregelen zijn en worden genomen zodat de
            beveiliging van uw persoonsgegevens gewaarborgd is;</li>
            <li>Geen persoonsgegevens worden doorgegeven aan andere partijen, tenzij dit nodig is voor de
              uitvoering van de doeleinden waarvoor ze zijn verstrekt;</li>
              <li>Op de hoogte is van uw rechten omtrent uw persoonsgegevens en dat ATTC ’77 u daarop wil
                wijzen en deze ook wil respecteren. </li>
    </ul>

    <p>Als ATTC ’77 zijn wij verantwoordelijk voor de verwerking van de persoonsgegevens. Indien u na
      het doornemen van deze Privacy Verklaring of in algemene zin vragen heeft over uw privacy en uw
      persoonsgegevens kunt u dit bespreken met een van de bestuursleden of via het sturen van een emailbericht
      aan <a href="mailto:attc77@chello.nl">attc77@chello.nl</a>,</p>

      <h3>Waarvoor verwerken wij de persoonsgegevens? </h3>

      <p>Uw persoonsgegevens worden door ATTC ’77 verwerkt ten behoeve van de volgende doeleinden: 
      </p>

      <ul>
        <li>Het beleggen van vergaderingen en bijeenkomsten;</li>
        <li>Het aankondigen van evenementen;</li>
        <li>Het versturen van het clubblad en andere informatie;</li>
        <li>Innen van contributie en competitiegeld door de penningmeester;</li>
        <li>Deelname aan de NTTB-competitie;</li>
        <li>Het organiseren van toernooien. </li>
      </ul>

      <p>Voor de bovenstaande doelstellingen kunnen de volgende persoonsgegevens worden gevraagd: </p>

      <ul>
          <li>Voornaam, tussenvoegsel, achternaam;</li>
          <li>Adres, postcode, woonplaats;</li>
          <li>Telefoonnummer(s);</li>
          <li>>E-mailadres;</li
          <li>Geslacht;</li>
          <li>Geboortedatum;</li>
          <li>Bankrekeningnummer;</li>
          <li>Bij bestuursleden: kopie paspoort en BSN-nummer t.b.v. inschrijven bij Kamer van
          Koophandel.</li>
      </ul>

      <h3>Verstrekking aan derden</h3>
      <p>De gegevens die u hebt gegeven kan ATTC ’77 aan derde partijen verstrekken indien dit
          noodzakelijk is voor de uitvoering van de hierboven beschreven doeleinden. Zo maakt ATTC ’77
          gebruik van een derde partij voor: 
          </p>
          <ul>
            <li>Het spelen van competitiewedstrijden (NTTB);</li>
            <li>Het verzorgen van de (financiële) administratie (Rabobank); 
              </li>
          </ul>

          <p>Wij geven de persoonsgegevens niet door aan andere partijen waarmee geen
              verwerkersovereenkomst is gesloten. Met verwerkende partijen zijn de nodige afspraken gemaakt
              om de beveiliging van de persoonsgegevens te waarborgen. 
              </p>

              <p>Verder zal ATTC ’77 de verstrekte gegevens niet aan andere partijen verstrekken, tenzij dit
                  wettelijk verplicht is. Zo zal bij ernstige ongewenste intimiteiten en bij strafbare feiten aangifte
                  worden gedaan bij de politie en zal ook de NTTB daarvan in kennis worden gesteld. Ook zal
                  meegewerkt worden met de politie in het kader van een onderzoek als ATTC ’77 verplicht is tot
                  medewerking. Tot slot kan ATTC ’77 persoonsgegevens delen met derden mits u daarvoor
                  uitdrukkelijk schriftelijke toestemming heeft gegeven. 
                </p>

                <h3>
                    Minderjarigen 
                </h3>
                <p>Wij verwerken enkel en alleen persoonsgegevens van minderjarigen (personen jonger dan 18 jaar)
                    indien daarvoor door de ouder, verzorger of wettelijke vertegenwoordiger schriftelijke toestemming
                    is gegeven. </p>

                    <h3>Bewaartermijn</h3>
                    <p>ATTC ’77 bewaart persoonsgegevens niet langer dan noodzakelijk voor het doel waarvoor deze zijn
                        verstrekt dan wel op grond van de wet is vereist.
                        ATTC ’77 maakt hier uitzondering op voor het nakomen van verplichte wettelijke bewaartermijnen
                        en ook ten aanzien van historische en statistische gegevens. </p>

                        <h3>Beveiliging</h3>
                        <p>ATTC ’77 heeft passende technische en organisatorische maatregelen genomen om
                            persoonsgegevens van u te beschermen tegen onrechtmatige verwerking. Als voorbeelden zijn te
                            noemen: 
                            </p>

                            <ul>
                                <li>Alle personen die namens ATTC ’77 van uw gegevens kennis kunnen nemen, zijn gehouden tot
                                    geheimhouding daarvan;</li>
                                <li>Toegang tot data is gebaseerd op rollen die personen binnen de vereniging invullen en nodig
                                    hebben om hun functie uit te kunnen oefenen. Zo krijgt bijvoorbeeld de penningmeester als enige
                                    toegang tot financiële transacties om contributies te kunnen innen;</li>    
                                <li>ATTC ’77 maakt regelmatig back-ups van de persoonsgegevens om deze te kunnen herstellen bij
                                    fysieke of technische incidenten;</li> 
                                <li>Het bestuur is geïnformeerd over het belang van de bescherming persoonsgegevens;
                                    ATTC ’77 test en evalueert regelmatig de genomen maatregelen. </li> 
                            </ul>

                            <h3>Rechten omtrent uw gegevens 
                              </h3>
                              <p>U heeft het recht op inzage, rectificatie of verwijdering van uw persoonsgegevens. Ook kan
                                  bezwaar gemaakt worden tegen de verwerking van uw persoonsgegevens (of een deel hiervan) door
                                  de vereniging of door een van onze verwerkers. 
                                  </p>

                                  <h3>Meldplicht</h3>
                                  <p>Mocht ondanks alle genomen maatregelen en controles toch informatie bij onbevoegden
                                      beschikbaar komen, dan verplicht ATTC ’77 zich om binnen de daarvoor geldende termijnen
                                      gedefinieerd in de Algemene Verordening Gegevensbescherming (AVG) dit te melden bij
                                      betrokkenen en de autoriteiten. 
                                      </p>

                                      <h3>Klachten</h3>

                                      <p>Als u klachten heeft over de verwerking van uw persoonsgegevens dan vragen wij u hierover
                                          contact met ons op te nemen. Mochten we er desondanks toch niet samen uitkomen dan heeft u
                                          altijd het recht om een klacht in te dienen bij de Autoriteit Persoonsgegevens (AP). De AP is de
                                          toezichthoudende autoriteit op het gebied van privacy.
                                          Als er naar aanleiding van deze Privacy Verklaring nog vragen of opmerkingen zijn neem dan
                                          contact op met het bestuur of stuur een e-mailbericht via <a href="mailto:attc77@chello.nl">attc77@chello.nl</a>.</p>
                                          <p>Bestuur ATTC'77</p>
    <!-- END OF BOT SECTION -->
    <footer class="clear">
      <h5>&copy; <a class="mute-link" href="#">psy-dev.nl</a> (2014-2018)</h5>
      <a class="mute-link" href="views/privacy.html">privacy verklaring</a>
    </footer>
    <!-- END OF WRAPPER -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="../js/scripts.js"></script>
  <script src="../js/vendor/footable.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48558556-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>

</html>
